.search__button {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #ebebeb;
  padding: 7px 5px 9px 5px;
  border: 0px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}